/* HTML */
* {
  padding: 0;
  margin: 0;
}

/* FIN HTML */
/* BODY */
body {
  background-color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/* FIN BODY */
/* HEADER */
header .logo-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
header .logo-container img {
  width: 40%;
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  header .logo-container img {
    width: 65%;
  }
}
@media screen and (min-width: 576px) and (max-width: 1200px) {
  header .logo-container img {
    width: 60%;
  }
}
header nav {
  margin-top: 100px;
  display: flex;
  font-size: 20px;
}
header nav div {
  display: flex;
  justify-content: center;
  margin: 0 30px;
}
header nav div a {
  text-decoration: none;
}
header nav div a p {
  color: red;
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  header nav div a p {
    font-size: 13px;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  header nav {
    justify-content: space-around;
  }
}
@media screen and (min-width: 576px) and (max-width: 1200px) {
  header nav {
    justify-content: space-around;
  }
}

/* FIN HEADER */
/* MAIN */
main .titulo .titulo-container {
  margin: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .titulo .titulo-container h1 {
  color: white;
}
main .cards-container {
  display: flex;
  justify-content: center;
}
main .cards-container .card {
  width: 20%;
  margin: 20px;
}
main .cards-container .card .img-container {
  width: 100%;
}
main .cards-container .card .img-container img {
  width: 100%;
  border-radius: 0.5%;
}
main .cards-container .card .img-container img:hover {
  transform: scale(1.02);
  transition: all 0.5s;
}
main .cards-container .card .datos-container {
  margin-top: 8px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(2, 30px);
}
main .cards-container .card .datos-container .container-hijoA {
  color: yellow;
  margin-right: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (min-width: 576px) and (max-width: 1200px) {
  main .cards-container .card .datos-container .container-hijoA {
    font-size: 11px;
  }
}
main .cards-container .card .datos-container .container-hijoB {
  color: white;
  margin-left: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 576px) and (max-width: 1200px) {
  main .cards-container .card .datos-container .container-hijoB {
    font-size: 11px;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  main .cards-container .card {
    width: 80%;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  main .cards-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

/* FIN MAIN */
/* HEADER DETAIL */
section .texto-container {
  text-align: center;
  margin-top: 25px;
}
section .texto-container a {
  text-decoration: none;
}
section .texto-container a h2 {
  color: red;
}
section .texto-container a h2:hover {
  text-decoration: underline;
}

/* FIN HEADER DETAIL */
/* MAIN DETAIL */
main .container {
  margin-top: 50px;
  display: flex;
}
main .container section {
  width: 30%;
}
main .container section .portada-container {
  margin-left: 15px;
  display: flex;
  justify-content: flex-start;
}
main .container section .portada-container img {
  width: 95%;
}
@media screen and (min-width: 576px) and (max-width: 1200px) {
  main .container section .portada-container img {
    width: 50%;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  main .container section .portada-container {
    justify-content: center;
    margin: 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 1200px) {
  main .container section .portada-container {
    justify-content: center;
    margin: 0 0 20px 0;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  main .container section {
    width: 100%;
    justify-content: center;
  }
}
@media screen and (min-width: 576px) and (max-width: 1200px) {
  main .container section {
    width: 100%;
  }
}
main .container .info-container {
  width: 70%;
  display: flex;
  align-items: center;
}
main .container .info-container .info-containerPadre {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-template-rows: repeat(6, auto);
  gap: 70px;
}
main .container .info-container .info-containerPadre .contenedor-hijoA {
  color: yellow;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  main .container .info-container .info-containerPadre .contenedor-hijoA {
    font-size: 12px;
    align-items: flex-start;
  }
}
@media screen and (min-width: 576px) and (max-width: 1200px) {
  main .container .info-container .info-containerPadre .contenedor-hijoA {
    align-items: flex-start;
  }
}
main .container .info-container .info-containerPadre .contenedor-hijoB {
  color: white;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  main .container .info-container .info-containerPadre .contenedor-hijoB {
    font-size: 12px;
    align-items: flex-start;
  }
}
@media screen and (min-width: 576px) and (max-width: 1200px) {
  main .container .info-container .info-containerPadre .contenedor-hijoB {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  main .container .info-container .info-containerPadre {
    grid-template-rows: repeat(6, auto);
    gap: 15px;
  }
}
@media screen and (min-width: 576px) and (max-width: 1200px) {
  main .container .info-container .info-containerPadre {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 20% 60%;
    gap: 15px;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  main .container .info-container {
    width: 90%;
    justify-content: space-around;
    margin: 30px 0 0 10px;
  }
}
@media screen and (min-width: 576px) and (max-width: 1200px) {
  main .container .info-container {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  main .container {
    flex-direction: column;
  }
}

/* FIN MAIN DETAIL */

/*# sourceMappingURL=style.css.map */
