section {
    .texto-container {
        text-align: center;
        margin-top: 25px;
        a {
            text-decoration: none;
            h2 {
                color: red;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
